[submodule "pack/vendor/start/mini.nvim"]
	path = pack/vendor/start/mini.nvim
	url = https://github.com/echasnovski/mini.nvim.git
[submodule "pack/vendor/start/snacks.nvim"]
	path = pack/vendor/start/snacks.nvim
	url = https://github.com/folke/snacks.nvim.git
[submodule "pack/vendor/start/which-key.nvim"]
	path = pack/vendor/start/which-key.nvim
	url = https://github.com/folke/which-key.nvim.git
[submodule "pack/vendor/start/vscode.nvim"]
	path = pack/vendor/start/vscode.nvim
	url = https://github.com/Mofiqul/vscode.nvim.git
[submodule "pack/vendor/start/gitsigns.nvim"]
	path = pack/vendor/start/gitsigns.nvim
	url = https://github.com/lewis6991/gitsigns.nvim.git
[submodule "pack/vendor/start/neo-tree.nvim"]
	path = pack/vendor/start/neo-tree.nvim
	url = https://github.com/nvim-neo-tree/neo-tree.nvim.git
[submodule "pack/vendor/start/nui.nvim"]
	path = pack/vendor/start/nui.nvim
	url = https://github.com/MunifTanjim/nui.nvim.git
[submodule "pack/vendor/start/lualine.nvim"]
	path = pack/vendor/start/lualine.nvim
	url = https://github.com/nvim-lualine/lualine.nvim.git
[submodule "pack/vendor/start/nvim-cmp"]
	path = pack/vendor/start/nvim-cmp
	url = https://github.com/hrsh7th/nvim-cmp.git
[submodule "pack/vendor/start/cmp-path"]
	path = pack/vendor/start/cmp-path
	url = https://github.com/hrsh7th/cmp-path.git
[submodule "pack/vendor/start/cmp-cmdline"]
	path = pack/vendor/start/cmp-cmdline
	url = https://github.com/hrsh7th/cmp-cmdline.git
[submodule "pack/vendor/start/cmp-buffer"]
	path = pack/vendor/start/cmp-buffer
	url = https://github.com/hrsh7th/cmp-buffer.git
