[submodule "pack/vendor/start/mini.nvim"]
	path = pack/vendor/start/mini.nvim
	url = https://github.com/echasnovski/mini.nvim.git
[submodule "pack/vendor/start/snacks.nvim"]
	path = pack/vendor/start/snacks.nvim
	url = https://github.com/folke/snacks.nvim.git
[submodule "pack/vendor/start/vscode.nvim"]
	path = pack/vendor/start/vscode.nvim
	url = https://github.com/Mofiqul/vscode.nvim.git
[submodule "pack/vendor/start/nvim-treesitter"]
	path = pack/vendor/start/nvim-treesitter
	url = https://github.com/nvim-treesitter/nvim-treesitter.git
[submodule "pack/vendor/start/blink.cmp"]
	path = pack/vendor/start/blink.cmp
	url = https://github.com/Saghen/blink.cmp.git
